/*  Nooooooo  */ 
/*  改変や複製を一切禁止します。  */
/*  https://github.com/Nooooooo-0328/calculator-site */

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #282c34;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}
.calculator {
  background-color: #1e1e1e;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
input[type="text"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  font-size: 1.8em;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: white;
  text-align: right;
}
input[type="button"] {
  width: 48px;
  height: 48px;
  margin: 5px;
  font-size: 1.2em;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #61dafb;
  color: #282c34;
  transition: background-color 0.3s;
}
input[type="button"]:hover {
  background-color: #4fa3d1;
}
p {
  text-align: center;
  font-size: 1.2em;
  margin-top: 10px;
  color: red;
}

